:root {
  --cuboid-width: 300px;
  --primary: #b8d6bc;
  --secondary: #002d7a;
  --main-visited-link: #889e8b;
}

@font-face {
  font-family: afacad;
  src: url(fonts/Afacad.ttf);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  margin: 0 7%;
  color: white;
  font-family: afacad;
  /* overflow: hidden; */
}

a {
  color: var(--main-link);
  text-decoration: none;
}

a:visited {
  color: var(--main-visited-link);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background-color: var(--secondary);
}
  
/* .cuboid-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#cuboid {
  display: none;
  perspective: 2000px;
  perspective-origin: 80% 80%;
  transform-style: preserve-3d;
  position: relative;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.face {
  position: absolute;
  box-sizing: border-box;
  background-color: black;
}

#back {
  border: 25px solid white;
  pointer-events: auto;
}

#left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  & img {
    object-fit: fill;
    height: 95%;
    width: 100%;
    filter: invert(100%) sepia(4%) saturate(445%) hue-rotate(161deg) brightness(112%) contrast(100%);
  }
}

#right {
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  }

#top {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 25px solid white;
  border-right: 25px solid white;
  & img {
    object-fit: fill;
    height: 100%;
    width: 95%;
    filter: invert(100%) sepia(4%) saturate(445%) hue-rotate(161deg) brightness(112%) contrast(100%);
  }
}

#bottom {
  border-right: 25px solid white;
  border-left: 25px solid white;
}

#menu-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#curtains {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: rect(auto auto auto auto);
}

.curtain {
  height: 100%;
  width: 100%;
}

#left-container {
  background-image: url(images/left.png);
  background-size: cover;
  position: relative;
  left: 0;
}

#right-container {
  background-image: url(images/right.png);
  background-size: cover;
  position: relative;
  right: 0;
}

#flower-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  img {
    height: 90%;
  }
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: afacad;
  font-size: 5em;
  width: 50%;
  color: white;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
} */

h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0;
}

h1, h2 {
  font-size: 6em;
}

h1 {
  text-transform: uppercase;
}

h3 {
  font-size: 3em;
  line-height: 0.7;
  display: inline-block;
}

h4 {
  font-size: 1.8em;
}

p {
  font-size: 1.5em;
  max-width: 100%;
}

p:first-child {
  margin-top: -0.3em;
}

#title-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 4em);
  grid-gap: 20px;
  margin-bottom: 100px;
}

#name {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  display: flex;
  align-items: center;
  /* background-color: red; */
  /* font-family: afacad; */
  /* text-transform: uppercase; */
}

/* #words {
  grid-column: 1 / 2;
  grid-row: 4 / 8;
  background-color: blue;
  font-family: afacad;
} */

.menu-item {
  grid-column: 1;
  grid-row: span 2;
  /* background-color: blue; */
  font-family: afacad;
}

#flower-vase-container {
  grid-column: 2 / 3;
  grid-row: 4 / 8;
  /* background-color: green; */

  img {
    height: 100%;
    max-width: 100%;
  }
}

#pomodoro-blacklist {
  display: flex;
  flex-direction: column;
}

.pb-box {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.pb-box-left, .pb-box-right {
  box-sizing: border-box;
  width: 50%;

  img {
    max-width: 100%;
    border-radius: 14px;
  }
}

.pb-box-left {
  img {
    float: right;
  }
}