html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
}

#content {
  padding: 150px 0 0 150px;
  scale: 0;
}

h1 {
  color: gray;
}

.grid-container {
  display: grid;
}

.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}